BOOKSTACK_VERSION=solidnerd/bookstack:0.31.6
BOOKSTACK_URL=https://bookstack.bjphoster.com
MYSQL_DATABASE=bookstack
MYSQL_PASSWORD=
MYSQL_USER=bookstack
MYSQL_VERSION=mariadb:10.6.3
SERVICE_NAME=bookstack.bjphoster.com
TRAEFIK_HOST=bookstack.bjphoster.com
TRAEFIK_ROUTER=bookstack_bjphoster_com
TRAEFIK_SERVICE=bookstackbjphostercom
